<app-character-search [formControl]="characterSelect" (searchTermChange)="search($event)"></app-character-search>
<ng-container *ngIf="searchResult | async as result">
<div class="search-results">
  <app-character-card *ngFor="let character of result.results" [character]="character"></app-character-card>
  <mat-paginator [length]="result.info.count"
                 [pageSize]="result.info.pageSize"
                 [pageIndex]="result.info.page"
                 [hidePageSize]="true"
                 [showFirstLastButtons]="true"
                 (page)="selectPage($event.pageIndex)">
  </mat-paginator>
</div>
</ng-container>
